
.universe{
    position: absolute;
    top: 25%;
}

.anim-reverse {
    animation-direction: reverse;
}

.orbital-ring-group {
    animation-name: rotate; 
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
}  

.ring {
    stroke: #ffffff;
    stroke-width: 1;
    fill: rgb(0,0,0,0)
}