@import 'tailwindcss';

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

@media (max-width: 600px) {
  .element-to-hide-1 {
    display: none;
  }
}

@media (max-height: 1000px) {
  .element-to-hide-1 {
    display: none;
  }
}

html {
  min-width: 360px;
  font-family: 'Oxygen';

  /* Hide scrollbar */
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(30,31,32,1) 50%, rgba(0,0,0,1) 100%); */
}

::-webkit-scrollbar {
  display: none;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

.blog-card {
  margin: 0 0 1rem 0;
  padding: 1rem;
  text-align: left;
  border-radius: 15px;
  background-color: #272822;
  transition: all 0.3s ease-in-out;
}

.blog-card:hover {
  transform: scale(1.05);
}

.poppins {
  font-family: var(--font-poppins);
}

.oxygen {
  font-family: var(--font-oxygen);
}

#welcome {
  position: absolute;
  left: 48%; /* relative to nearest positioned ancestor or body element */
  top: 48%; /*  relative to nearest positioned ancestor or body element */
  transform: translate(-50%, -50%); /* relative to element's height & width */
  font-family: var(--font-poppins);
  font-size: 2rem;
}