@import 'tailwindcss';

:root {
  --black: #070D0E;
  --dark-gray: #44484B;
  --light-gray: #54575A;
  --white: #E9EEE7;
  --purple: #BF1363;
  --red: #D94A3E;
  --blue: #00A6ED;
  --yellow: #F2D091;
  --pink: #C558AB;
  --orange: #ecb00a;
  --green: #0FE64C;
}

::selection {
  background-color: var(--purple);
  color: var(--white);
}

@media (max-width: 600px) {
  .element-to-hide-1 {
    display: none;
  }
}

@media (max-height: 1000px) {
  .element-to-hide-1 {
    display: none;
  }
}

html {
  min-width: 360px;
  font-family: 'Oxygen';

  /* Hide scrollbar */
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(30,31,32,1) 50%, rgba(0,0,0,1) 100%); */
}

::-webkit-scrollbar {
  display: none;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

.poppins {
  font-family: var(--font-poppins);
}

.oxygen {
  font-family: var(--font-oxygen);
}

#welcome {
  position: absolute;
  left: 48%; /* relative to nearest positioned ancestor or body element */
  top: 48%; /*  relative to nearest positioned ancestor or body element */
  transform: translate(-50%, -50%); /* relative to element's height & width */
  font-family: var(--font-poppins);
  font-size: 2rem;
}