@import 'tailwindcss';

/* Default */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #070D0E;
    --text-color: #E9EEE7;
    --select-color: #BF1363;
    --dark-gray: #44484B;
    --light-gray: #54575A;
    --red: #D94A3E;
    --blue: #00A6ED;
    --yellow: #F2D091;
    --pink: #C558AB;
    --orange: #ecb00a;
    --green: #0FE64C;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #E9EEE7;
    --text-color: #070D0E;
    --select-color: #D94A3E;
    --dark-gray: #aaafb4;
    --light-gray: #c3cbd3;
    --red: #D94A3E;
    --blue: #00A6ED;
    --yellow: #F2D091;
    --pink: #C558AB;
    --orange: #ecb00a;
    --green: #0edb48;
  }
}

::selection {
  background-color: var(--select-color);
  color: var(--text-color);
}

/* Small screen */
@media (max-width: 620px), (max-height: 800px) {
  .element-to-hide-1 {
    display: none;
  }
}

/* Mobile */
@media (max-height: 600px), (max-width: 600px) {
  .element-to-hide-2 {
    display: none;
  }
  #welcome {
    top: 48% !important;
  }
  .universe {
    top: 5% !important;
  }

  #first-universe {
    background-color: rebeccapurple;
  }
}

html {
  min-width: 360px;
  font-family: 'Oxygen';

  /* Hide scrollbar */
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(30,31,32,1) 50%, rgba(0,0,0,1) 100%); */
}

::-webkit-scrollbar {
  display: none;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

.poppins {
  font-family: var(--font-poppins);
}

.oxygen {
  font-family: var(--font-oxygen);
}

#welcome {
  position: absolute;
  left: 50%; /* relative to nearest positioned ancestor or body element */
  top: 50%; /*  relative to nearest positioned ancestor or body element */
  transform: translate(-50%, -50%); /* relative to element's height & width */
  font-family: var(--font-poppins);
  font-size: 2rem;
}